// Define variables for your color scheme

// For example:
$red: rgb(166, 72, 58); // Soir de Sienne
$blue: rgb(77, 102, 113); // atlantide
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgb(72, 103, 87); // vert livid little green
$gray: #544d4d;
$light-gray: #F4F4F4;
$rose: rgb(209, 132, 131); // rose boréal envie
$rose2: rgb(203, 135, 117); //rose corallien envie
$green-light:rgb(143, 170, 155);
