// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

//BrightAngels
@font-face {
  font-family: "Angels";
  src: font-url("BrightAngelsPersonalUse-ywZVm.otf");
}

//Milano
@font-face {
  font-family: "Milano";
  src: font-url("Milano-p7ojK.otf");
}

//Renitta
@font-face {
  font-family: "Renitta";
  src: font-url("Renitta-DOJ6x.ttf");
}

//Brilliant
@font-face {
  font-family: "Brilliant";
  src: font-url("Brilliant-w1DOZ.ttf");
}

/* @font-face {
  font-family: "Beyond";
  src: font-url("Beyond-Infinity-400.ttf");
} */

@font-face {
  font-family: "Astagina";
  src: font-url("Astagina-Signature.otf");
}

@font-face {
  font-family: "Autography";
  src: font-url("Autography.otf");
}

@font-face {
  font-family: "Barokah";
  src: font-url("Barokah-Signature.ttf");
}
//format("trueType")