.atelier-container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr;
}

.atelier-welcome {
  background: url(image5.jpeg) center;
  padding: 60px 30px;
  padding: 60px 30px;
  background-size: cover;
  display: flex;
  margin-top: 30px;
}

.atelier-gallery {
  --g: 6px;
  display: grid;
  aspect-ratio: 1;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--g);
  margin-top: 30px;
  background: #81A8B8;
}
.atelier-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .5s
}
.atelier-gallery img:hover {
  filter: grayscale(0);
}
.atelier-gallery img:nth-child(2) {
  grid-area: 1/2/span 2/span 2;
  clip-path: polygon(0 0,100% 0,100% 100%,calc(50% + var(--g)/4) 100%,0 calc(50% - var(--g)/4))
}

.atelier-gallery img:nth-child(3) {
  grid-area: 2/1/span 2/span 2;
  clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(37% + var(--g)/4),100% 100%,0 100%);
}

/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #81A8B8;
} */

.furniture-glass-atelier {
    /* min-height: 337px; */
    width: 90%;
    margin: auto;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(250, 250, 250, 0.25);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(3px);
    color: black;
    font-family: Cormorant-serif;
    font-size: larger;

}

@media screen and (max-width: 2000px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 160px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 200px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 150px;
    }
  }
}

@media screen and (max-width: 900px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 130px;
      width: 80%;
    }
  }
}

@media screen and (max-width: 724px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 120px;
    }
  }
}

@media screen and (max-width: 650px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: 420px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 375px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 80px;
      h2 {
        font-size: larger;
      }
    }
  }
}


