.atelier-container {
  background: url(https://res.cloudinary.com/dnqkzzqga/image/upload/v1706875594/atelier-plinguet/inspi--tableau_bpjinu.png)
  center / cover no-repeat fixed;
  padding: 60px 30px;
}


.furniture-glass-atelier {
  min-height: 200px;
  width: 60%;
  margin: auto;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(250, 250, 250, 0.25);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(3px);
  color: black;
  font-family: Cormorant-serif;
  font-size: larger;
  align-items: center;
}

@media screen and (max-width: 2000px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 160px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 200px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 150px;
    }
  }
}

@media screen and (max-width: 900px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 130px;
      width: 80%;
    }
  }
}

@media screen and (max-width: 724px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 120px;
    }
  }
}

@media screen and (max-width: 650px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: 420px) {
  .atelier-container {
    .furniture-glass {
      margin-top: 80px;
    }
  }
}

@media screen and (max-width: 375px) {
  .furniture-glass {
    margin-top: 80px;
    h2 {
      font-size: larger;
    }
  }
}


