.banner-main-container {
  // border: solid 1px black;
  height: 600px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10px auto;
  width: 93%;

  .banner-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 600px;
  }

  .banner-inspi {
    max-width: 100%;
    max-height: 100%;
    height: 600px;
    object-fit: cover;
  }

  .banner-title {
    color: white;
  }

  .banner-description-container {
    background-color: #486757;
  }

  .banner-description {
    color: white;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
    font-size: medium;
    font-family: 'Cormorant', serif;
    display: flex;
    flex-direction: column;
    width: 60%;

    #banner-title {
      font-size: medium;
      font-family: renitta;
      font-size: 20px;
    }

    #banner-text {
      margin-top: 5px;
      font-weight: 300;
    }

    .banner-line {
      margin: 0 auto;
      height: 1px;
      color: $light-wood;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}


@media screen and (max-width: 1250px) {
  .banner-main-container {
    .banner-description {
      width: 70%;
  }
  }
}
@media screen and (max-width: 1050px) {
  .banner-main-container {
    .banner-description {
      width: 70%;
  }
}

  .banner-main-container {
    grid-template-columns: 4fr 1fr 2fr;
  }
}

@media screen and (max-width: 984px) {
  .banner-main-container {
    .banner-description {
      width: 80%;
    }
  }

  .banner-main-container {
    grid-template-columns: 3fr 1fr 2fr;
  }
}

@media screen and (max-width: 850px) {
  .banner-description {
    width: 70%;
    font-size: small;
  }
}

@media screen and (max-width: 768px) {
  .banner-description {
    width: 85%;
  }

  .banner-main-container {
    grid-template-columns: 2fr 1fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .banner-description {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .banner-description {
    width: 85%;
  }
}