.contact-container {
  border: solid 1px black;
  height: 600px;
}

.contact-card {
  display: grid;
  justify-content: space-between;
  width: 75%;
  height: 40%;
  grid-template-columns: 1fr 2fr;
  margin: auto;
}

.contact-photo {
  background: $blue;
}

.contact-form {
  display: flex;
  margin: auto;
}