/* .contact-container {
  border: solid 1px black;
  height: 600px;
  width: 90%;
  margin: 10px;
} */

/* .contact-card {
  display: grid;
  justify-content: space-between;
  width: 75%;
  height: 40%;
  grid-template-columns: 1fr 2fr;
  margin: auto;
} */


/* .contact-form {
  display: flex;
  margin: auto;
} */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.contact-container {
  background: #F2F3EB;
  padding: 40px;

  p {
    font-family: 'Barokah';
    font-size: xx-small;
  }
}

.contact-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #b27d4f;
  font-family: 'cormorant';
  font-size: medium;
}
.contact-tel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: #b27d4f;
  font-family: 'cormorant';
  font-size: medium;
}

.contact-signature {
  display: flex;
  justify-content: end;
  color: $light-wood;
  font-family: "Barokah";
}

.contact-message {
  font-family: 'cormorant';
  font-size: medium;
}
.contact-form {
    border: solid 3px $blue;
    max-width: 768px;
    background: #F2F3EB;
    margin: 10px auto;

  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  textarea {
    overflow: auto;
  }
  
  h2 {
    color: #b27d4f;
    font-size: large;
    /* font-weight: 700; */
    letter-spacing: 5px;
    text-align: center;
    font-family: "Barokah";
    margin-top: 35px;
  }
  
  .underline {
    border-bottom: solid 2px $blue;
    margin: 0.490em auto;
    width: 20%;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: $blue;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  
  input[type='text'], [type='email'], [type='subject'], select, textarea {
    background: none;
    border: none;
    border: solid 2px $blue;
    color: $blue;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 2em auto;
    //padding: 0 0 0.875em 0;
    //text-transform: capitalize;
    width: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
    color: $blue;
  }
  
  .message {
    float: none;
  }
  
  .name {
    float: left;
    width: 45%;
    text-transform: lowercase;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 80%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
    line-height: 150%;
    height: 90px;
    resize: none;
    //width: 90%;
  }
  
  ::-webkit-input-placeholder {
    color: $light-wood;
  }
  
  :-moz-placeholder { 
    color: #474544;
    opacity: 1;
  }
  
  ::-moz-placeholder {
    color: #474544;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #474544;
  }
  
  .submit {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #form_button {
    background: none;
    border: solid 2px $blue;
    color: $light-wood;
    cursor: pointer;
    display: inline-block;
    font-family: 'barokah', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    //text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #form_button:hover {
    //background: $light-wood;
    color: $blue;
  }
  
  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
    h2 {
      font-size: medium; /* Change the font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 650px) {

    h2 {
      font-size: small; /* Change the font size for even smaller screens */
    }
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
    .contact-infos {
      display: inline;
    }

    .contact-tel {
      display: inline;
    }

    #form_button {
      padding: 15px 25px;
      font-size: 0.675em;
    }
  }

  @media screen and (max-width: 500px) {

    h2 {
      font-size: xx-small; /* Change the font size for even smaller screens */
    }
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
      font-size: 0.575em;
    }
  }
  
  @media screen and (max-width: 420px) {
    h2 {
      font-size: 8px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }

  @media screen and (max-width: 385px) {
    h2 {
      font-size: 7px;
    }
  }

  @media screen and (max-width: 370px) {
    h2 {
      font-size: 6px;
    }
  }

  @media screen and (max-width: 355px) {
    h2 {
      font-size: 5px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-container {
    margin-top: 110px;
  }
}

@media screen and (max-width: 1200px) {
  .contact-container {
    margin-top: 140px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin-top: 90px;
  }
}
@media screen and (max-width: 500px) {
  .contact-container {
    margin-top: 4rem !important;
  }
}
// ALERTES 

.invalid-feedback {
  text-align: center;
  font-family: "cormorant";
  font-size: small;
  color: $light-wood;
}
