
// Specific CSS for your home-page

@import "banner";

body h2,p {
  font-family: 'Cormorant', serif;
  text-align: center;
}

body h2 {
  color: $light-wood;
}

.container {
  height: 400px;
  max-width: 1430px;
}

h3 {
  color: $light-wood;
  font-family: "autography";
  font-size: xx-large;
  text-align: center;
  border-bottom: 1px solid $light-wood;
  border-bottom-width: 4px;
}

.home-description {
  background-color: $green;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width:80%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  color: white;
  margin-bottom: 30px;

  h2 {
    color: white;
    margin: 15px;
    font-size: x-large;
    font-family: 'Renitta';
  }

  h4 {
    font-family: 'autography';
    border: solid 3px $light-wood;
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size: xx-large;
    color: $creme;
    background: $light-wood;
    border: solid 3px white;
    transition: 1.4s;
    border-radius: 4px;
  }
}

.home-last-creations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  grid-gap: 5px;


  img {
    height: 350px;
    margin: 10px 8px;
    width: -webkit-fill-available;
  }
}

#access {
  grid-template-columns: 1fr 1fr 1fr;

  img {
    height: 320px;
    width: -webkit-fill-available;
  }
}



.home-last-realisations {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  img {
    height: 320px;
    margin: 10px 8px;
    width: -webkit-fill-available;
  }
}

.home-creation {
  background: $creme;
  width: 93%;
  margin: auto;
}

.home-accessory {
  background: $creme;
  width: 93%;
  margin: auto;
}

.home-realisation {
  background: $creme;
  width: 93%;
  margin: auto;
}

.home-about-us {
  background: $creme;
  width: 93%;
  margin: auto;
}
//RESPONSIV

@media screen and (min-width: 2000px) {
  .home-last-creations {
    img {
      height: 540px;
    }
  }
  #access, .home-last-realisations {
    img {
      height: 480px;
    }
  }

  h3 {
    font-size: 90px;
  }
}

@media screen and (max-width: 2000px) {
  .home-last-creations {
    img {
      height: 420px;
    }
  }
  #access, .home-last-realisations {
    img {
      height: 380px;
    }
  }

  h3 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1250px) {
  .home-description {
    h4 {
      font-size: 25px;
    }
  }
  .home-last-creations {
    img {
      height: 300px;
    }
  }
  #access, .home-last-realisations {
    img {
      height: 280px;
    }
  }

  h3 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1150px) {
  .home-last-creations {
    img {
      height: 250px;
    }
  }
  #access, .home-last-realisations {
    img {
    height: 230px;
    }
  }
}

@media screen and (max-width: 900px) {
  .home-description {
    h4 {
      font-size: 20px;
    }
  }

  .home-last-creations {
    img {
      height: 210px;
    }
  }
  #access, .home-last-realisations {
    img {
    height: 190px;
    }
  }
}

@media screen and (max-width: 768px) {

  .home-description {
    display: ruby-text;
  }

  .home-last-creations {
    width: 85%;
  }

  .home-last-creations {
    img {
      height: 180px;
    }
  }
  #access, .home-last-realisations {
    img {
    height: 160px;
    }
  }

  h3 {
    font-size: 55px;
  }
}

@media screen and (max-width: 640px) {
  .home-last-creations, #access {
    display: block;
    margin-top: 10px;

    img {
      height: auto;
      margin: 0 auto;
      width: 80%;
    }
  }

  h3 {
    font-size: xx-large;
  }

  .home-last-realisations {
    display: block;
    margin-top: 10px;

    img {
      height: auto;
      margin: 0 auto;
      width: 91%;
    }
  }

  .home-description {
    display: none;
  }

  hr {
    display: none;
  }

  .home-about-us {
    display: none;
  }

  .home-creation {
    background: none;
  }

  .home-accessory {
    background: none;
  }

  .home-realisation {
    background: none;
  }

  .home-about-us {
    background: none;
  }

}

@media screen and (max-width: 500px) {
  .home-last-creations, .home-last-realisations, #access {
    img {
      
    }
  }
}
@media screen and (max-width: 375px) {
  .home-last-creations, .home-last-realisations, #access {
    img {
      
    }
  }
}
@media screen and (max-width: 320px) {
  .home-last-creations, .home-last-realisations, #access {
    img {
      
    }
  }
}