
// Specific CSS for your home-page

@import "banner";

body h2,p {
  font-family: 'Cormorant', serif;
  text-align: center;
}

body h2 {
  color: $light-wood;
}

.container {
  height: 400px;
  max-width: 1430px;
}

.home-description {
  background-color: $green;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width:70%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  color: white;

  h2 {
    color: white;
    margin: 15px;
    font-size: x-large;
    font-family: 'Renitta';
  }

  h4 {
    font-family: Cormorant;
    border: solid 4px $light-wood;
    text-align: center;
    margin: 15px;
    padding: 10px;
    font-size: x-large;
    background: white;
    color: $light-wood;
    border-radius: 10px;
    transition: 1s;

    &:hover {
      color: white;
      background: $light-wood;
      border: solid 4px white;
    }
  }
}

.home-last-creations {
  display: flex;
  justify-content: center;
  width: 83%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;

  img {
    height: 350px;
    margin: 10px 8px;
    width: -webkit-fill-available;
  }
}
