 <!-- footer section start -->
<footer id="footer">
  <div class="row">
    <div class="col-md-3 logo-footer">
      <%# <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p> %>
      <%= image_tag('logo-plinguet-01.png', class: "img-fluid logo-footer") %>
      <div class="footer-about">
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="useful-link">
        <h2>Liens utiles</h2>
        <div class="use-links">
          <p><a href="/"><i class="fa-brands fa-pagelines"></i> Accueil</a></p>
          <p><a href="/atelier.html"><i class="fa-brands fa-pagelines"></i>L'atelier</a></p>
          <p><a href="/furnitures.html"><i class="fa-brands fa-pagelines"></i>Nos meubles</a></p>
          <p><a href="/accessories.html"><i class="fa-brands fa-pagelines"></i>Nos créations</a></p>
          <p><a href="/realisations.html"><i class="fa-brands fa-pagelines"></i>Nos réalisations</a></p>
          <p><a href="/contacts/new.html"><i class="fa-brands fa-pagelines"></i>Contactez-nous</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="social-links">
        <h2>Suivez-nous</h2>
        <div class="social-icons">
          <p><a href="https://www.facebook.com/marketplace/item/7212336598826324/"><i class="fa-brands fa-facebook-f"></i>Facebook</a></p>
          <p><a href="https://www.instagram.com/atelier_plinguet/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a></p>
          <p><a href="https://www.linkedin.com/in/tanguy-de-saint-exup%C3%A9ry-76374b83/?originalSubdomain=fr" target="_blank"><i class="fa-brands fa-linkedin-in"></i>Linkedin</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="address">
        <h2>Contact</h2>
        <div class="address-links">
          <p class="address1"><i class="fa-solid fa-location-dot"></i> Quartier Plinguet 40170 Mézos</p>
          <p><a href="mailto:contact@atelier-plinguet.fr"><i class="fa-solid fa-envelope"></i> contact@atelier-plinguet.com</a></p>
        </div>
      </div>
    </div>      
  </div>
</footer>
<!-- footer section end -->

<!-- footer copy right section start -->
<section id="copy-right">
  <div class="copy-right-sec">  
    <div>
      Tous droits réservés<br><i class="fa-solid fa-copyright"></i>  Propulsé en 2024 par la <a href="https://github.com/aymard2d" target="_blank"><strong>SQUAD SAJ</strong></a> 
    </div>
    <div class="signin">
      <% if !user_signed_in? %>
        <%= link_to "Sign In", new_user_session_path, class: "signin-link" %>
      <% end %>
    </div>
    <div class="signin">
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "signout-link" %>
      <% end %>
    </div>
  </div>
</section>
<!-- footer copy right section end -->



