 <!-- footer section start -->
    <footer id="footer">

        <div class="row">
          <div class="col-md-3">
						<%# <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p> %>
            <%= image_tag('logo-plinguet-01.png', class: "img-fluid logo-footer") %>
                      <div class="footer-about">
                      </div>

          </div>
          <div class="col-md-3">
            <div class="useful-link">
              <h2>Liens utiles</h2>
              <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
              <div class="use-links">
                <p><a href="/"><i class="fa-brands fa-pagelines"></i> Accueil</a></p>
                <p><a href="about.html"><i class="fa-brands fa-pagelines"></i> L'atelier</a></p>
                <p><a href="furnitures.html"><i class="fa-brands fa-pagelines"></i> Nos réalisations</a></p>
                <p><a href="/furnitures"><i class="fa-brands fa-pagelines"></i> Nos meubles</a></p>
                <p><a href="contact.html"><i class="fa-brands fa-pagelines"></i> Contact</a></p>
              </div>
            </div>

          </div>
                    <div class="col-md-3">
                        <div class="social-links">
              <h2>Suivez-nous</h2>
              <img src="./assets/images/about/home_line.png" alt="">
              <div class="social-icons">
                <p><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></p>
                <p><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></p>
              </div>
            </div>
                    

                    </div>
          <div class="col-md-3">
            <div class="address">
              <h2>Contact</h2>
              <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
              <div class="address-links">
                <p class="address1"><i class="fa-solid fa-location-dot"></i> Quartier Plinguet 40170 Mézos</p>
								<p><a href=""><i class="fa-solid fa-phone"></i>  +33 6.12.34.56.55</a></p>
								<p><a href=""><i class="fa-solid fa-envelope"></i> contact@atelier-plinguet.com</a></p>
              </div>
            </div>
          </div>
                  
        </div>


    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <section id="copy-right">
      <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>  
        All Rights Reserved. Powered By <a href="#">&copy;2024 SAJ CORP</a> 


      </div>

    </section>
    <!-- footer copy right section end -->



