<div class="banner-main-container">
    

      <img src="https://res.cloudinary.com/dnqkzzqga/image/upload/v1705424418/atelier-plinguet/mathilda-2-bahut_cevwbe.jpg", alt="meuble upcyclé", class="banner-photo">

      <img src="https://res.cloudinary.com/dnqkzzqga/image/upload/v1705485607/atelier-plinguet/inspiration-home_gd3mc2.png", alt="peinture", class="banner-inspi">

  <div class= "banner-description-container">
    <div class="banner-description">
      <h5 id="banner-title"> L'Atelier Plinguet  </h5>
      <hr class="banner-line" width="60%" >
      <p id="banner-text">
        Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.
        Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.
      </p>
      <button class="button-18" role="button">En savoir plus</button>
    </div>
  </div>
</div>
