<div class="banner-main-container">
    <img src="<%=image_path 'meuble-banner.png'%>" alt="meuble upcyclé" class="banner-photo">
    <img src="<%=image_path 'peinture-banner.png'%>" alt="peinture" class="banner-photo">

  <div class= "banner-description">
    <h5> L’Atelier Plinguet  </h5>

    <p>
      Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.
    </p>
  </div>
</div>
