<div class="atelier-container">
  <div class="atelier-background">
    <div class="atelier-gallery">
      <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542822/image3_xvxku6.jpg">
      <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image1_eabv1u.jpg">
      <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image0_ibeony.jpg">
      <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image2_lwfgd8.jpg">
    </div>
  </div>
  <div class="atelier-welcome">
    <div class="furniture-glass-atelier ">
      <h2>Bienvenue à l'atelier</h2>
      <p>Caché au coeur de la majestueuse forêt landaise, l'atelier Plinguet est plus qu'un simple lieu de travail puisque c'est un lieu ayant appartenu autrefois à mon grand-père. C'est un espace chargé desentiments et de souvenirs, où chaque coin et recoin raco,te une histoire. Travailler ici c'est rendre hommage à son héritage et continuer à faire vivre sa passion et son expertise dans chaque création.</p> 
      <p>L'atelier se divise en deux parties distinctes, chacune dédiée à des étapes spécifiques du travail du bois. D'un côté, la partie consacrée à la découpe, au dégauchissage et au rabotage où les pièces brutes de bois prennent forme. De l'autre côté se trouve l'espace réservé au ponçage et à la peinture pour apporter une finition parfaite aux différents projets.</p>
      <p>C'est dans cet environnement que je trouve l'inspiration pour redonner vie à vos meubles.</p>
    </div>
  </div>
</div>