<div class="atelier-container">
  <div class="atelier-gallery">
    <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542822/image3_xvxku6.jpg">
    <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image1_eabv1u.jpg">
    <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image0_ibeony.jpg">
    <img src="https://res.cloudinary.com/dmmqaflqm/image/upload/v1715542823/image2_lwfgd8.jpg">
  </div>
  <div class="furniture-glass-atelier ">
    <h2>Bienvenue à l'atelier</h2>
    <p>Notre atelier est en pleine rénovation afin de pouvoir satisfaire à vos désirs les plus fanstasques. 
  </div>
</div>