<div class="atelier-container">

  <div class="furniture-glass-atelier ">
  <h2>Disponible très prochainement</h2>

  <p>Notre atelier est en pleine rénovation afin de pouvoir satisfaire à vos désirs les plus fanstasques. 
  <p>En vrai, il est terminé mais il faut prendre les photos un jour de beau temps :D</p>
  <p>En attendant, vous pouvez profiter de ce magnifique footer.</p>

  </div>
</div>