<%= render "pages/banner" %>

<h1>Bienvenue sur le site de l'Atelier Plinguet</h1>
<p>Upcycling et meubles sur mesure !</p>


<h1>DJADJAAAAAAAAAAAAAAAAAAAAAAAAAAA</h1>
<h1>MON COUZ DAMOURRRRRRRRRRRRRRRRR<h1>
