
<%= render "pages/banner" %>

<hr id="home-line">

<div class="home-description">
	<div class="meubles">
		<h2>Nos créations</h2>
		<p>Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.</p>
	</div>
	<div class="vl"></div>
	<div class="atelier">
	<h2>L'Atelier</h2>
	<p>Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.</p>
	</div>
	<div class="vl"></div>
	<div class="realisations">
		<h2>Nos réalisations</h2>
		<p>Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.Spécialiste de la rénovation de meubles, je redonne vie à tous types de pièces, qu'ils soient vintages, démodés ou abîmés. Transformez votre mobilier avec expertise et élégance.</p>
	</div>
</div>

<hr id="home-line">

<h2 style="color:black">Nos dernières créations</h2>
<div class="home-last-creations">
	<%= cl_image_tag("v1705424401/atelier-plinguet/esther1-commode_g5bnkh.jpg") %>
	<%= cl_image_tag("v1705424424/atelier-plinguet/prune-1-bureau_wn4b0j.jpg") %>
	<%= cl_image_tag("v1705424400/atelier-plinguet/saj1-buffet_puzsmf.jpg") %>
</div>


