<!DOCTYPE html>
<html>
<head>
  <title>New Contact Form Submission</title>
</head>
<body>
  <h1>New Contact Form Submission</h1>
  <p>Name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Message:</p>
  <p><%= @contact.message %></p>
</body>
</html>
