/* footer section start */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

body{
  font-size:14px;
  background: #fff;
  max-width:1920px;
  margin:0 auto;
  overflow-x:hidden;
  font-family:'Cormorant', serif;
}

#footer{
  background: #f7f7f7;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 80px;
  box-shadow: 0px -1px 6px 0px #486757;

  .logo-footer {
    align-items: center;
    display: flex;
  }

  a {
    &:hover {
    color: $light-wood;
    }
  }

  i {
    &:hover {
      color: $red;
    }
  }
}

.logo-footer{
  max-width: 300px;
}
.social-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  display: flex;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  color: $green;
}
/* .social-icons a{
  font-size: 18px;
    background: #ffffff;
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a;
  margin-right: 18px;
  color: #777777;
} */

.social-icons a i{
  //box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  border-radius: 3px;
  color: #82074a;
  font-size: 16px;
  margin-right: 12px;
} 

li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}

.use-links p i{
  font-size: 14px;
  padding-right: 8px;
  color: $green;
}
.use-links p a{
  color: $green;
  font-size: 15px;
  font-weight: 500;
  color: $green;
}
.use-links li a:hover{
  color: #000;
}

.address h2{
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.address img{
  padding-bottom: 15px;
}

.address-links p a{
  color: $green;
  font-size: 15px;
  font-weight: 500;
  color: $green;
}

.address-links li i{
  font-size: 16px;
  padding-right: 8px;
  color: $light-wood;
}

.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
}
.address-links{
  color: $green;
}
.copy-right-sec{
  padding: 1.8rem;
  background-image: linear-gradient(to bottom, #486757, #486757c7);
  color: #fff;
  text-align: center;
}
.copy-right-sec a{
  color: $light-wood;
  font-weight: 500;
}
a{
  text-decoration:none;
}

/* footer section end */


.fa-pagelines {
  color: $green;
}

.fa-brands {
  color: $green;
  
}

.fa-solid {
  
}