.add-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 20px auto;
  padding: 20px;
  font-family: renitta;
  background: $blue;
  color: $light-wood;
  border-radius: 10px;
  font-size: large;
  margin-bottom: 150px;
  width: 80%;

  input, select, textarea {
    font-family: 'cormorant';
    border-radius: 10px;
  }

  img {
    vertical-align: middle;
    /* height: 151px; */
    width: 18%;
    margin: auto;
  }

  .share-button {
    background: white;
    border: none;
    /* height: 100%; */
    /* width: 100%; */
    font-size: large;
    color: #b27d4f;
    padding: 4px;
  }
}




