.colibri-logo {
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.fb-logo {
  margin-left: 15px;
  width: 50px;
  border-radius: 50%;
}

.envie-logo {
  margin-left: 15px;
  width: 50px;
}

.pp-logo {
  border-radius: 5px;
  width: 75px;
}


.lg-logo {
  width: 65px;
}

.ap-logo {
  width: 75px;
}