#navbar{
  justify-content: space-between;
  /* border: 1px solid red; */
  align-items: center;
  display: grid;
  margin: 10px 50px 20px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 2px 2px 6px 0px #486757;

  h1 {
    font-family: "renitta" ;
    font-size: xx-large;
    color: $light-wood;
    align-items: center;
    margin-top: 15px;

  }
  
  h4 {
    font-family: 'Cormorant', serif;
    margin: 2px;
    padding: 2px;
    font-size: medium;
    color:rgb(178, 125, 79);

  }

  .content {
    font-family: 'Cormorant', serif;
    display: flex;
    flex-direction: column;
    left: 100px;
    position: relative;
  }
}

#btn-logo {

}

#logo {
  height: 100px;
}


#menu {
  height: 100px;
  display: flex;
  justify-content: end;
}

.signout {
  text-decoration: none;
}

.signout-link {
  
}