.search-bar {
  width: 55%;
  display: flex;
  margin: auto;
  height: 3rem;
}

.fa-search {
  color: $light-wood;

  &:hover {
    color: $blue;
  }
}

.my-3 {
  margin-top: 7rem !important;
}

.category-search {
  font-family: Cormorant;
  background-image: linear-gradient(to bottom, $creme, $creme);
  margin: 10px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 4px;
  font-size: larger;
  font-style: oblique;

  @media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
  }
}

.index-top {
  display: flex;
}

// RESPONSIV

@media screen and (max-width: 768px) {
  .search-bar {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .my-3 {
    margin-top: 8rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .my-3 {
    margin-top: 8.5rem !important;
  }
}

@media screen and (max-width: 768px) {
  .my-3 {
    margin-top: 5.5rem !important;
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 500px) {
  .my-3 {
    margin-top: 4rem !important;
  }
}