@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.main-container {
  // background: url(https://res.cloudinary.com/dnqkzzqga/image/upload/v1706874593/atelier-plinguet/inspi-7-bois-2_jbsaqh.png) center / cover no-repeat fixed;
}

:root {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}
.furniture-container {
  background: url(https://res.cloudinary.com/dnqkzzqga/image/upload/v1706875594/atelier-plinguet/inspi--tableau_bpjinu.png)
  center / cover no-repeat fixed;
  padding: 60px 30px;
}

// Glasscard
.furniture-glass {
  //border: 1px pink solid;
  min-height: 200px;
  width: 60%;
  margin: auto;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(250, 250, 250, 0.25);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(3px);
  color: black;
  font-family: Cormorant-serif;
  font-size: larger;
  align-items: center;
  hr {
    width: 100%;
    margin: 20px auto;
    height: 3px;
    border-radius: 10px;
    background-color: #6c7eac;
    opacity: 1;
  }
  .fa-solid {
    color:$light-wood;
    display: flex;
    justify-content: center;
  }

  .tokenImage{
    border-radius: 5px;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
    display: flex;
  }

  .furniture-card {
    font-family: Cormorant;
  }
  
  .creator{
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    ins{
      color: $light-wood;
      text-decoration: none;
      font-family: renitta;
    }
    .wrapper{
      display: flex;
      align-items: center;
      border: 1px solid #ffffff22;
      padding: .3rem;
      margin: 0;
      margin-right: .5rem;
      border-radius: 100%;
      box-shadow: inset 0 0 0 2px $blue2;
      img{
        border-radius: 100%;
        border: 1px solid #ffffff22;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        margin: 0;
      }
    }
  }
}
#bullet {
  // font-family: 'circular';
  color: white;
  font-family: 'Renitta';
  justify-content: flex-start;
  display: flex;
}


.furniture-photo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  margin: 15px 10px;
}

.furniture-details-photo {
}


.furniture-details {
  border-radius: 10px;
  .vl {
    color: $green;
  }
  li {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  }
  ul {
    margin-top: 5px;
  }
  p {
    color: $blue2;
    justify-content: flex-start;
    display: flex;
  }
  hr {
    width: 100%;
    margin: 3px auto;
    height: 1px;
    border-radius: 10px;
    background-color: #6c7eac;
    opacity: 0.4;
  }
}

.furniture-description {
  border: 1px $blue2 dotted;
  border-radius: 10px;
  margin: 10px 0px;
  color: white;
  // background: $blue2;
  background: #6c7eac57;
  padding: 15px;
}



.card-footer {
  font-size: 0.65em;
  color: #446;
}
