<div class="index-body">


  <div class="category-search">
    <% @accessory_types.each do |type| %>
        <%= link_to type, show_by_type_accessories_path(type) %>
    <% end %>
  </div>

  <div class="galerie">
    <% @accessories.each do |accessory| %>
      <%= link_to accessory_path(accessory) do %>
        <figure>
          <% accessory.photos.each do |photo| %>
            <%= cl_image_tag photo.key, alt: "atelier-plinguet-fabrication", class: "object-fit-cover index-photo" %>
            <% break %>
          <% end %> 
          <figcaption><%= accessory.name %></figcaption>
        </figure>
      <% end %>
    <% end %>
</div>
