<div class="index-body">
  <div class="galerie">
    <% @furnitures.each do |furniture| %>
      <%= link_to furniture_path(furniture) do %>
        <figure>
          <% furniture.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 280, alt: "atelier-plinguet-meuble", class: "index-photo" %>
            <% break %>
          <% end %> 
          <figcaption><%= furniture.name %></figcaption>
          
        </figure>
      <% end %>
    <% end %>
  </div>
</div>
