<h1>Liste des <%= @furniture_type %>s</h1>
<ul>
  <% @furnitures.each do |furniture| %>
    <li><%= furniture.name %></li>
    <% furniture.photos.each do |photo| %>
      <%= cl_image_tag photo.key, alt: "atelier-plinguet-meuble", class: "object-fit-cover index-photo" %>
      <% break %>
    <% end %>
  <% end %>
</ul>
